body{
    background-color: black;
    color: white;
}
#pass
{
    background-color: rgb(179, 11, 11);
    color: white;


}
button{
   
    
    background-color: black;
    
}

button a{
    text-decoration: none;
    color: #db0000;

}